body{
    margin:0;
    background-color: #333;
    text-align: center;
    color:#eee;
}
#content{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
img{
    display: block; 
    margin: auto;
    width:100vw
}
#player{ 
  /* top | right | bottom | left */
  padding: 2rem 1rem 2rem 1rem;
  font-size: 2rem;
}